*__pycache__*
*.py[cod]
/build
/dist/
/.eggs/
/*.egg-info/
/docs/build/
/.tox/
.coverage
/docs/source/modules/
/.vagrant
/.provision
/.ci/vagrant/sshd/files/authorized_keys
/pywincffi.ini
/Release*
*_pywincffi.c
/.idea/