pytest==3.2.5; python_version == '3.3'
pytest; python_version == '2.7'
pytest; python_version > '3.3'
pytest-cov
unittest2
pylint==1.8.1
astroid==1.6.0
pycodestyle
mock
sphinx
wheel
setuptools
coverage
requests
codecov
PyGithub
