pytest==3.2.5; python_version == '3.3'
pytest; python_version == '2.7'
pytest; python_version > '3.3'
pytest-cov
unittest2
pylint==1.7.4
astroid==1.5.3
pycodestyle
mock
sphinx
wheel
setuptools
coverage
requests
codecov
PyGithub
