Port 22
ListenAddress 0.0.0.0
ListenAddress ::

#SyslogFacility AUTH
LogLevel INFO

PermitRootLogin yes
RSAAuthentication yes
PubkeyAuthentication yes
AuthorizedKeysFile %h/.ssh/authorized_keys
PasswordAuthentication yes
ChallengeResponseAuthentication yes
AllowTcpForwarding yes
UsePrivilegeSeparation yes
UseDNS no
Subsystem sftp internal-sftp
